ion-app.app-root page-core-login-credentials {
    .scroll-content {
        background: $core-login-page-background-color;
    }

    img {
        max-width: 100%;
    }

    img.login-logo {
        width: 90%;
        max-width: 300px;
    }

    .box {
        padding: 16px;
        margin: 8px;
        background: $core-login-box-background-color;
        border: 1px solid $core-login-box-background-border;
        color: $core-login-box-text-color;
    }

    .core-sitename, .core-siteurl {
        @if $core-fixed-url { display: none; }
    }

    @if $core-login-button-outline {
        .button-md.button-default-md, .button-ios.button-default-ios {
            @extend .button-md-light;
        }
    }

    @if $core-login-loading-color {
        .core-loading-container {
            color: $core-login-loading-color;

            .spinner circle, .spinner line {
                stroke: $core-login-loading-color;
            }
        }
    }

    .item-input {
        margin-bottom: 20px;
    }

    //New styles
    .scroll-content {
      background: url("#{$images-path}/main_bg.png") no-repeat center / cover;
    }

    .box {
      padding: 0 0 20px;
      border-radius: 20px;
    }

    .login-header {
      font-size: 1.7rem;
      padding: 20px;
      background-color: $header-blue-bg;
      color: $header-gray-tx;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      @extend %lato-bold-font;
    }

    .login-logo {
      max-width: 400px !important;
      margin: 40px 0 30px;
    }

    .men-logo {
      width: 60%;
      max-width: 280px;
    }

    .login-label {
      color: $main-blue;
      font-size: 1.8rem;
      margin: 30px 0;
      @extend %lato-bold-font;
    }

    ion-item + button.button {
      margin-top: 30px;
    }

    button.button {
      width: 75%;
      margin: 0 auto 30px;
      border-radius: 50px;
      font-size: 1.9rem;
      text-transform: unset;
      padding: 0.5em 1.1em;
      @extend %lato-regular-font;
    }
}
