$images-path: "../assets/img";

%lato-light-font {
  font-family: 'Lato';
  font-weight: 300;
}

%lato-regular-font {
  font-family: 'Lato';
  font-weight: 400;
}

%lato-semibold-font {
  font-family: 'Lato';
  font-weight: 600;
}

%lato-bold-font {
  font-family: 'Lato';
  font-weight: 700;
}

%lato-black-font {
  font-family: 'Lato';
  font-weight: 900;
}

ion-app.md {
  font-family: 'Lato';
}

html {
  font-size: 67.5%;
}

.item-input {
  ion-input {
    .text-input {
      color: $fields-gray-tx;
      font-size: 1.7rem;
      @extend %lato-bold-font;
    }
  }
}

.content-md {
  background-color: $header-blue-bg;
}

ion-header {
  ion-navbar {
    .toolbar-content {
      position: relative;
      padding: 0 12px 0 95px !important;

      &:before {
        content: "";
        position: absolute;
        width: 80px;
        height: 50px;
        top: -13px;
        left: 10px;
        background: url("#{$images-path}/title_logo.png") no-repeat center / contain;
      }
    }
  }
}

ion-alert {
  .alert-wrapper {
    border-radius: 20px !important;
  }

  .alert-head {
    background-color: $alert-header-green-bg;
    color: $white;
    text-align: center !important;
    @extend %lato-black-font;
  }

  .alert-message {
    background-color: $active-green-bg;
    color: $white !important;
    padding: 24px !important;
    font-size: 1.8rem !important;
    @extend %lato-light-font;
  }

  .alert-button-group {
    background-color: $main-blue;
  }

  .alert-button {
    color: $white !important;
  }
}

.radio-md {
  .radio-checked,
  .radio-icon {
    border-color: $active-green-bg;
  }

  .radio-inner {
    background-color: $active-green-bg;
  }
}

.tabs-md .tabbar {
  background-color: $tabbar-gray-bg;
}

.tabs-md .tab-button-icon {
  color: $tabbar-icons-gray-bg;
}

ion-icon + .item-inner ion-label {
  &,
  & h2 {
    color: $fields-gray-tx;
    @extend %lato-bold-font;
  }
}

.item-md.activated {
  background-color: $active-green-bg !important;

  &,
  ion-icon,
  ion-label h2,
  ion-label p {
    color: $white !important;
  }
}

page-core-user-about {
  ion-item-divider ion-label {
    color: $fields-gray-tx;
    @extend %lato-bold-font;
  }

  .item-block {
    h2 {
      color: $fields-gray-tx;
      @extend %lato-bold-font;
    }
  }
}

ion-app.app-root core-empty-box .core-empty-box {
  width: 100vw !important;
}

ion-app.app-root page-core-courses-course-preview .core-course-thumb img {
  height: 100%;
  max-width: 1000%;
  width: auto !important;
  right: 0;
}
@media (min-width: 350px) {
  ion-app.app-root core-empty-box .core-empty-box {
    height: 70vh !important;
  }
}
@media (max-width: 349px) {
  ion-app.app-root core-empty-box .core-empty-box {
    height: 38vh !important;
  }
}
@media (orientation:landscape) {
  ion-app.app-root core-empty-box .core-empty-box .core-empty-box-content {
    padding: 10% 10px;
  }

  ion-app.app-root page-addon-mod-forum-index core-empty-box .core-empty-box .core-empty-box-content {
    padding: 20% 10px 10%;
  }

  ion-app.app-root core-grades-course .core-grades-container {
    padding-bottom: 40vh;
  }
}